/* Подключение шрифта */
@font-face {
    font-family: 'Bounded-Regular';
    src: url('Bounded-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Общие стили */
body {
    font-family: 'Bounded-Regular', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e5dac6; /* Цвета в стиле картины */
    color: #3a2e25;
    text-align: center;
}

/* Заголовок */
header {
    padding: 20px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), transparent);
    color: white;
    font-size: 20px;
}

/* Основное изображение */
.image-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    position: relative;
}

.image-container {
    position: relative;
    max-width: 90%;
    overflow: hidden;
}

.image-container img {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    transition: transform 0.3s ease-in-out;
}

/* При наведении увеличивает картину */
.image-container:hover img {
    transform: scale(1.05);
}

/* Описание картины */
.description {
    padding: 20px;
    max-width: 800px;
    margin: auto;
    font-size: 18px;
}

/* Футер */
footer {
    padding: 10px;
    background-color: #3a2e25;
    color: white;
    font-size: 14px;
}